@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
*{
    margin:0;
    padding: 0;
    font-size: 22px;
    font-family: 'Pathway Gothic One';

}
/*body{
    background-color: rgb(193, 240, 203);
}*/
#loading{
    position: fixed;
    width:100%;
    height: 100vh;
    background:#fff  url('https://students.nandysagar.in/Images/Preloader.gif') no-repeat   center;
    z-index: 99999;
}
 body{
     background-image: url("/Images/bg.jpg");
 }
.details{
    display: none;
}

.modalbg {
background-color: rgb(207, 247, 250);
    padding:9px 15px;
    
    
     
 }
 .modal-content  {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 10px !important;
    border: 5px solid rgb(6, 40, 114);
    border-radius: 20px !important; 
    
}
.modal-title{
    font-size: 2rem;
    color:rgb(29, 11, 105);
}
.modal-body{
    color: rgb(201, 19, 34);
    font-size:31px;
}
 /* .modal-body {
    background-color: #FF7171;
    padding:9px 15px;
    color:#000;
    font-family:Verdana, sans-serif;
    border-bottom:4px solid #C49F0F; */

 }
/* .modal-footer {
    background-color: #FAEDBC;
    color:#FFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
 }  */
 .bdr{
    
     border: 5px solid red;

 }
 
.button {
  padding: 7px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #409eeb;
  border: none;
  border-radius: 20px;
  margin: 4px 2px;
  box-shadow: 0 9px rgb(197, 199, 199);
  
}

.button:hover {
    background-color: #305ae4;
    color:#fff;
}

.button:active {
  background-color: #def706;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.payment{
    padding: 7px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(12, 11, 11);
    background-color: #40ebb8;
    border: none;
    border-radius: 20px;
    margin: 4px 2px;
    box-shadow: 0 9px rgb(197, 199, 199);

}
.payment:hover{
    background-color: #0d8567;
    color:#fff;
}
.payment:active {
    background-color: #dff706;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

.button2 {
    padding: 7px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ee58f3;
    border: none;
    border-radius: 20px;
    margin: 4px 2px;
    box-shadow: 0 9px rgb(197, 199, 199);
    
  }
  
  .button2:hover {
      background-color: #d80ec7;
      color:#fff;
  }
  
  .button2:active {
    background-color: #def706;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .nextpage{
    padding: 7px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f5863c;
    border: none;
    border-radius: 20px;
    margin: 4px 2px;
    box-shadow: 0 9px rgb(197, 199, 199);

  }
  .nextpage:hover{
    background-color: #d64214;
    color:#fff; 
  }
  .nextpage:active{
    background-color: #08912a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .button3 {
    padding: 7px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f03333;
    border: none;
    border-radius: 20px;
    margin: 4px 2px;
    box-shadow: 0 9px rgb(197, 199, 199);
    
  }
  
  .button3:hover {
      background-color: #910b28;
      color:#fff;
  }
  
  .button3:active {
    background-color: #def706;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.notice:hover{
  background-color: #dd2121;
  color: #f0f357;
}
.footer {
   background-color: #0d0b7e;
padding: 10px;

  text-align: center;
  color: #0ff11b;
 
}
.back{
  text-align: center;
}
.cnote_container{
  background-color:#fff;
  margin-top:15px;

  border: 5px solid red ;
  
}
  .blink 
	{        
		 animation: blinker 1.5s linear infinite;       
		   color: #dd2121;  
			font-size: 30x;     
				font-weight: bold;     
					font-family: sans-serif;       }  
						 @keyframes blinker {         10% {           opacity: 0;         }       }
             .blink-one {         animation: blinker-one 1s linear infinite;       }   
							   @keyframes blinker-one {         0% {           opacity: 0;         }       }       
							   .blink-two {         animation: blinker-two 1.4s linear infinite;       }       @keyframes blinker-two {         10% {           opacity: 0;         }       } 
